@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    display: inline-block;
    color: inherit;
    text-decoration: none;
}
button{
    outline: none;
}
input,textarea:focus{
   outline: none; 
}
.main_container{
    max-width: 1628px;
    padding: 0 50px;
    margin: 0 auto;
}
.nav_list{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 30px;
    a{
        margin: 0 5px;
        color: #B6B3B3;
        font-family: Montserrat,sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 111.5%;
    }
}
.golden{
    .nav_list{
        display: flex;
        align-items: center;
        justify-content: left;
        margin-bottom: 30px;
        a{
            margin: 0 5px;
            color: #B6B3B3;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 111.5%;
        }
    }
    .golden_comment_wrapper{
        display: flex;
        justify-content: space-between;
        gap: 39px;
        margin-bottom: 95px;
        .golden_comment{
            min-height: 228px;
            padding: 50px 10px;
            display: flex;
            border-radius: 4px;
            background: #FFF6F2;
            box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.09);
            img{
                display: inline-block;
                margin: 0 10px;
                width: 45px;
                height: 45px;
            }
            p{
                max-width: 1005px;
                color: #1A1717;
                font-family: Montserrat,sans-serif;
                font-size: 21px;
                font-style: italic;
                font-weight: 400;
                line-height: 42px;
            }
        }
        .golden_comment_right{
            max-height: 228px;
            padding: 20px;
            max-width: 426px;
            border-radius: 4px;
            background: #123044;
            box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.09);
            .comment_right_in{
                display: flex;
                align-items: center;
                .comment_left{
                    display: flex;
                    align-items: center;
                    h2{
                        margin-left: 9px;
                        color: #FFF;
                        text-shadow: 0px 2.58974552154541px 3.8846182823181152px 0px rgba(0, 0, 0, 0.25);
                        font-family: 'Fira Sans',sans-serif;
                        font-size: 18.128px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 23.492px;
                        margin-bottom: 0;
                    }
                }
                .comment_right{
                    h4{
                        width: 150px;
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;
                        color: #FFF;
                        font-family: Montserrat;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 20.281px;
                        img{
                            transform: translateY(-10px);
                            margin-left: 14px;
                        }
                    }
                    .active_comment{
                        transform: translateX(-30px);
                    }
                    .active_comment2{
                        width: 120px;
                        transform: translateX(20px);
                    }
                   
                }
            }
            h3{
                text-align: center;
                color: #FFF;
                text-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
                font-family: 'Fira Sans',sans-serif;
                font-size: 21px;
                font-style: normal;
                font-weight: 500;
                line-height: 36.285px;
            }
        }
    }
    .golden_main{
        margin-bottom: 192px;
        h2{
            color: #1A1717;
            font-family: Montserrat,sans-serif;
            font-size: 36px;
            font-style: normal;
            font-weight: 500;
            line-height: 111.5%; 
            margin-bottom: 53px;
        }
        .golden_main_card{
            display: flex;
            padding: 30px;
            border-radius: 6px;
            background: #FCFCFC;
            box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.09);
            img{
                object-fit: contain;
            }
            .golden_card_title{
                margin-bottom: 40px;
                display: none;
                color: #123044;
                font-family: 'Fira Sans',sans-serif;
                font-size: 28px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
            .golden_card_text{
                margin-top: 27px;
                display: none;
                color: #434040;
                font-family: 'Montserrat',sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 156%;
                letter-spacing: 0.4px;
            }
            .golden_main_card_text{
                margin-left: 45px;
                h3{
                    color: #123044;
                    font-family: 'Fira Sans',sans-serif;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin-bottom: 25px;
                }
                p{
                    color: #434040;
                    font-family: 'Montserrat',sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 156%;
                    letter-spacing: 0.4px;
                }
            }
        }
    }
}
.statistics{
    .nav_list{
        display: flex;
        align-items: center;
        justify-content: left;
        margin-bottom: 55px;
        a{
            margin: 0 5px;
            color: #B6B3B3;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 111.5%;
        }
    }
    .statistic_wrapper{
        background-image: url('../images/statistic_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        .statistic_in{
            padding-top: 86px;
            padding-bottom: 160px;
            display: flex;
            justify-content: space-between;
            .statistic_left{
                padding: 92px 90px 91px 73px;
                background-image: url('../images/statistic_text_bg.svg');
                background-repeat: no-repeat;
                background-size: 100% 100%;
                h4{
                    color: #1C1D1E;
                    font-family: 'Fira Sans',sans-serif;
                    font-size: 30.276px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 42.253px;
                    span{
                        margin-left: 15px;
                        color: #B32B37;
                        font-family: Montserrat,sans-serif;
                        font-size: 55.895px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 111.5%;
                    }
                }
            }
            .statistic_right{
                display: flex;
                align-items: center;
                .statistic_text_right{
                    .statistic_text_right_in{
                        display: flex;
                        align-items: center;
                        img{
                            width: 48px;
                            height: 48px;
                        }
                        h5{
                            margin-left: 23px;
                            max-width: 253px;
                            color: #FFF;
                            text-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
                            font-family: 'Fira Sans',sans-serif;
                            font-size: 28px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 36.285px;
                        }
                    }
                    h6{
                        transform: translateY(141px);
                        color: #FFF;
                        text-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
                        font-family: 'Fira Sans',sans-serif;
                        font-size: 28px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 36.285px;
                    }
                }
                .statistic_img_right{
                    h3{
                        margin-right: 30px;
                        color: #FFF;
                        font-family: Montserrat,sans-serif;
                        font-size: 28px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 36.285px;
                        margin-bottom: 30px;
                        margin-top: 20px;
                        img{
                            width: 59px;
                            height: 59px;
                        }
                    }
                    .statistic_icon1{
                        transform: translateX(30px);
                        white-space: nowrap;
                    }
                    .statistic_icon1{
                        white-space: nowrap;
                    }
                    .statistic_icon3{
                        transform: translateX(80px);
                        white-space: nowrap;
                    }
                }
            }
        }
    }
    .statistic_cards{
        background-color: #123044;
        .statistic_cards_in{
            margin: 0 auto;
            max-width: 1288px;
            padding: 32px 0 79px 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 74px;
            .statistic_card{
                flex: 1;
                padding: 30px 44px 48px 44px;
                border: 1px solid red;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border-radius: 4px;
                border: 1.1px solid rgba(0, 0, 0, 0.60);
                background: #102B3C;
                box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.09);
                .statistic_card_img{
                    width: 230px;
                    height: 227px;
                    object-fit: contain;
                }
                .statistic_btn{
                    width: 292px;
                    height: 47px;
                    display: block;
                    color: #FFF;
                    text-align: center;
                    font-family: Montserrat,sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 111.5%;
                    text-transform: uppercase;
                    border-radius: 41px;
                    background: #123044;
                    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
                    border: none;
                    margin-top: 28px;
                    img{
                        width: 18px;
                        height: 16px;
                        margin-left: 7px;
                    }
                }
            }
        }
    }
    .statistic_brands{
        padding: 62px 0;
        .statistic_brands_title{
            display: none;
            color: #123044;
            font-family: 'Fira Sans',sans-serif;
            font-size: 21px;
            font-style: normal;
            font-weight: 600;
            line-height: 65.906px;
        }
        .statistic_brands_dropdowns{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 62px;
            margin-bottom: 62px;
            .statistic_brands_dropdown{
                border: none;
                padding: 7px 7px 7px 30px;
                display: flex;
                align-items: center;
                color: #4B4848;
                font-family: 'Montserrat',sans-serif;
                font-size: 26px;
                font-style: normal;
                font-weight: 600;
                line-height: 111.5%;
                border-radius: 22px;
                background: #F9EEDF;
                box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.09);
                img{
                    margin-right: 20px;
                    margin-left: 7px;
                }
            }
        }
        .statistic_brands_slider{
            margin: 0 auto;
            max-width: 978px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .statistic_brands_slider_title{
                max-width: 287px;
                color: #123044;
                font-family: 'Fira Sans',sans-serif;
                font-size: 42px;
                font-style: normal;
                font-weight: 600;
                line-height: 65.906px;
            }
            .statistic_brands_in{
                .statistic_brands_slider{
                    gap: 36px;
                    .brand_prev_btn, .brand_next_btn{
                        border: none;
                        cursor: pointer;
                        background-color: transparent;
                    }
                    .statistic_slider{
                        overflow-x: hidden;
                        max-width: 350px;
                        text-align: center;
                        .swiper-wrapper{
                            .swiper-slide{
                                h3{
                                    max-width: 415px;
                                    // margin-top: 10px;
                                    color: #1A1717;
                                    text-align: center;
                                    font-family: Montserrat,sans-serif;
                                    font-size: 21px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 25.285px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.back{
    background: #EDDDC4;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    .nav_list{
        display: flex;
        align-items: center;
        justify-content: left;
        margin-bottom: 56px;
        a{
            margin: 0 5px;
            color: #B6B3B3;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 111.5%;
        }
    }
    .back_wrapper{
        display: flex;
        border: 1px solid red;
        // align-items: center;
        justify-content: space-between;
        .back_social_media{
            width: 36%;
            .social_media_content{
                background-color: #123044;
                position: absolute;
                height: 100%;
                left: 0;
                width: 36%;
                .social_media_content_img{
                    position: absolute;
                    right: -120px;
                    top: 74px;
                    height: 446px;
                }
                ul{
                    position: absolute;
                    right: 143px;
                    bottom: 72px;
                    display: flex;
                    align-items: center;
                    gap: 23px;
                    li{
                        a{
                            img{
                                mix-blend-mode: luminosity;
                                width: 42px;
                                height: 42px;
                            }
                        }
                    }
                }
            }
        }
        .back_form{
            width: 64%;
            padding:  120px 102px 220px 140px;
            .back_form_title{
                display: flex;
                align-items: center;
                margin-bottom: 66px;
                h2{
                    color: #123044;
                    font-family: 'Fira Sans',sans-serif;
                    font-size: 42px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 111.5%;
                }
                p{ 
                    max-width: 512px;
                    color: #4B4848;
                    font-family: Montserrat,sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.45px;
                }
            }
            .back_form_main{
                display: flex;
                gap: 25px;
                .back_form_main_left{
                    border: 1px solid red;
                    flex: 1;
                    .back_input{
                        display: flex;
                        align-items: center;
                        border-radius: 7.051px;
                        border: 0.588px solid #E1E1E1;
                        background: #FFF;
                        box-shadow: 0px 1.1752265691757202px 8.22658634185791px 0px rgba(0, 0, 0, 0.09);
                        overflow: hidden;
                        margin-bottom: 51px;
                        input{
                            padding: 12px 0 12px 27px;
                            color: #1A1717;
                            font-family: Montserrat;
                            font-size: 16.453px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: 0.411px;
                            border: none;
                            width: 90%;
                        }
                        img{
                            margin-right: 14px;
                            margin-left: auto;
                        }
                    }
                    .back_input_bottom{
                        color: #767676;
                        font-family: Montserrat,sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.35px;
                        img{
                            margin-right: 13px;
                        }
                    }
                }
                .back_form_main_right{
                    flex: 1;
                    border: 1px solid red;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border: 1px solid red;
                    textarea{
                        height: 173px;
                        display: inline-block;
                        width: 100%;
                        border-radius: 14.417px;
                        border: 1.802px solid var(--light-gray, #E9EBF0);
                        background: var(--white, #FFF);
                        padding: 9px 24px;
                        color: #67727E;
                        font-family: Montserrat,sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 44.679px;
                    }
                    .back_form_btn{
                        margin-top: 37px;
                        cursor: pointer;
                        border: none;
                        color: #FFF;
                        font-family: 'Fira Sans',sans-serif;
                        font-size: 16px;
                        width: 257px;
                        height: 44px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 111.5%;
                        letter-spacing: 0.96px;
                        border-radius: 11px;
                        background: #B32B37;
                        box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.09);
                    }
                }
            }

        }
    }
}
.albums{
    .albums_comment_title{
        h5{
            color: #123044;
            font-family: 'Fira Sans',sans-serif;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: 111.5%;
            margin-top: 47px;
            margin-bottom: 73px;
        }
        h3{
            color: var(--main-text, #1A1A1A);
            font-family: Montserrat,sans-serif;
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: 36.285px;
            margin-bottom: 45px;
        }
    }
    .albums_comments{
        .albums_comment_card{
            margin: 0 auto 40px auto;
            max-width: 1270px;
            padding: 54px 45px 66px 66px;
            border-radius: 14.893px;
            background: #F8F8F8;
            box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.09);
            .albums_comment_card_top{
                margin-bottom: 43px;
                display: flex;
                align-items: center;
                img{
                    width: 60px;
                    height: 60px;
                    margin-right: 24px;
                }
                h4{
                    flex-direction: column;
                    color: #123044;
                    font-family: Rubik,sans-serif;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin-right: 20px;
                    span{
                        display: none;
                    }
                }
                span{
                    color: #67727E;
                    font-family: 'Fira Sans',sans-serif;
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 44.679px;
                }
                .albums_btn{
                    white-space: nowrap;
                    border: none;
                    margin-left: auto;
                    background-color: transparent;
                    color: #0A75B1;
                    font-family: 'Rubik',sans-serif;
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 44.679px;
                    img{
                        width: 24px;
                        height: 24px;
                        margin-right: 13px;
                    }
                }
                .albums_btn1{
                    border: none;
                    margin-left: auto;
                    background-color: transparent;
                    margin-right: 25px;
                    color: #B0333E;
                    font-family: 'Fira Sans',sans-serif;
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 44.679px;
                    img{
                        width: 24px;
                        height: 24px;
                        margin-right: 13px;
                    }
                }
                .albums_btn2{
                    border: none;
                    background-color: transparent;
                    color: #123044;
                    font-family: 'Fira Sans',sans-serif;
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 44.679px;
                    img{
                        width: 24px;
                        height: 24px;
                        margin-right: 13px;
                    }
                }
            }
            p{
                color: #4B4848;
                font-family: Montserrat,sans-serif;
                font-size: 21px;
                font-style: normal;
                font-weight: 500;
                line-height: 42px;
            }
        }
        .albums_comment_card_by{
            padding-left: 25px;
            max-width: 1390px;
            margin-left: auto;
            position: relative;
            .albums_comment_card_my{
                margin-left: auto;
                margin-bottom: 46px;
                max-width: 1270px;
                padding: 54px 45px 66px 66px;
                border-radius: 14.893px;
                background: #F8F8F8;
                box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.09);
                .albums_comment_card_top{
                    margin-bottom: 43px;
                    display: flex;
                    align-items: center;
                    img{
                        width: 60px;
                        height: 60px;
                        margin-right: 24px;
                    }
                    h4{
                        color: #123044;
                        font-family: Rubik,sans-serif;
                        font-size: 28px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        margin-right: 20px;
                        span{
                            display: none;
                        }
                    }
                    span{
                        color: #67727E;
                        font-family: 'Fira Sans',sans-serif;
                        font-size: 21px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 44.679px;
                    }
                    .albums_btn{
                        white-space: nowrap;
                        border: none;
                        margin-left: auto;
                        background-color: transparent;
                        color: #0A75B1;
                        font-family: 'Rubik',sans-serif;
                        font-size: 21px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 44.679px;
                        img{
                            width: 24px;
                            height: 24px;
                            margin-right: 13px;
                        }
                    }
                    .albums_btn1{
                        border: none;
                        margin-left: auto;
                        background-color: transparent;
                        margin-right: 25px;
                        color: #B0333E;
                        font-family: 'Fira Sans',sans-serif;
                        font-size: 21px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 44.679px;
                        img{
                            width: 24px;
                            height: 24px;
                            margin-right: 13px;
                        }
                    }
                    .albums_btn2{
                        border: none;
                        background-color: transparent;
                        color: #123044;
                        font-family: 'Fira Sans',sans-serif;
                        font-size: 21px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 44.679px;
                        img{
                            width: 24px;
                            height: 24px;
                            margin-right: 13px;
                        }
                    }
                }
                p{
                    color: #4B4848;
                    font-family: Montserrat,sans-serif;
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 42px;
                    b{
                        color: #123044;
                    }
                }
            }
        }
        .albums_comment_card_by::after{
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 4px;
            height: 100%;
            background-color: #E9EBF0;
        }
        .albums_form{
            margin-bottom: 75px;
            // margin: 0 auto 40px auto;
            margin-left: auto;
            max-width: 1390px;
            .albums_full_btn{
                margin-bottom: 25px;
                display: flex;
                justify-content: end;
                color: #102B3C;
                font-family: Montserrat,sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 28.813px;
                text-decoration-line: underline;
            }
            .albums_form_btn{
                display: flex;
                align-items: center;
                .albums_form_input{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    img{
                        width: 76px;
                        height: 76px;
                        transform: translateY(-40px);
                    }
                    textarea{
                        color: #67727E;
                        font-family: Montserrat,sans-serif;
                        font-size: 26px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 44.679px;
                        padding: 23px;
                        height: 179px;
                        border-radius: 14.893px;
                        border: 1.862px solid var(--light-gray, #E9EBF0);
                        background: var(--white, #FFF);
                        width: 100%;
                        margin-left: 31px;
                        margin-right: 77px;
                    }
                }
                button{
                    border: none;
                    margin-right: 50px;
                    width: 181px;
                    height: 53px;
                    color: #FFF;
                    font-family: 'Fira Sans',sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 111.5%;
                    letter-spacing: 0.96px;
                    border-radius: 11px;
                    background: #102B3C;
                    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.09);
                }
            }
        }
    }
}
.registration{
    margin-bottom: 100px;
    background: #F8F8F8;
    position: relative;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
    .registration_wrapper{
        display: flex;
        .registration_left{
            display: flex;
            width: 50%;
            img{
                height: 100%;
                position: absolute;
                object-fit: cover;
                left: 0;
                width: 50%;
            }
            .registration_red_block{
                width: 37px;
                position: absolute;
                right: 50%;
                height: 100%;
                background-color: #B32B37;
            }
        }
        .registration_main{
            padding: 25px 40px;
            width: 50%;
            h2{
                margin-bottom: 16px;
                color: #123044;
                font-family: 'Fira Sans',sans-serif;
                font-size: 42px;
                font-style: normal;
                font-weight: 600;
                line-height: 111.5%;
            }
            p{
                color: #767676;
                font-family: 'Montserrat',sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.45px;
                margin-bottom: 33px;
            }
            .form_full_btn{
                color: #102B3C;
                font-family: 'Montserrat',sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 28.813px;
                text-decoration-line: underline;
                margin-bottom: 35px;
            }
            .form_input_wrapper{
                gap: 10px;
                justify-content: space-between;
                display: flex;
                .form_left{
                    .form_input_in{
                        width: 284px;
                        margin-bottom: 20px;
                        border-radius: 6px;
                        border: 0.5px solid #E1E1E1;
                        background: #FFF;
                        box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.09);
                        display: flex;
                        align-items: center;
                        input{
                            width: 100%;
                            padding: 15px 5px 15px 20px;
                            border: none;
                            color: #1A1717;
                            font-family: Montserrat,sans-serif;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: 0.35px;
                        }
                        img{
                            margin-left: auto;
                            padding-right: 10px;
                        }
                    }
                }
                .form_right{
                    .form_input_in{
                        width: 284px;
                        margin-bottom: 20px;
                        border-radius: 6px;
                        border: 0.5px solid #E1E1E1;
                        background: #FFF;
                        box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.09);
                        display: flex;
                        align-items: center;
                        input{
                            width: 100%;
                            padding: 15px 15px 15px 20px;
                            border: none;
                            color: #1A1717;
                            font-family: Montserrat,sans-serif;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: 0.35px;
                        }
                        img{
                            margin-left: auto;
                            padding-right: 10px;
                        }
                    }
                }
            }
            .form_agreement{
                margin-bottom: 33px;
                display: flex;
                align-items: center;
                input{
                    width: 30px;
                    height: 30px;
                    margin-right: 20px;
                }
                .form_agreement_text{
                    color: #767676;
                    font-family: Montserrat,sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.4px;
                    margin-bottom: 0;
                }
            }
            span{
                margin-bottom: 10px;
                display: block;
                color: #767676;
                font-family: Montserrat,sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.35px;
                img{
                    margin-right: 13px;
                }
            }
            .form_btn{
                display: block;
                margin: 0 auto 36px auto;
                width: 257px;
                height: 45px;
                border: none;
                color: #FFF;
                font-family: 'Fira Sans',sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 111.5%;
                letter-spacing: 0.96px;
                border-radius: 11px;
                background: #B32B37;
                box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.09);
            }
            .form_bottom_text{
                margin: 0 auto;
                max-width: 417px;
                color: #123044;
                text-align: center;
                font-family: 'Fira Sans', sans-serif;
                font-size: 14px;
                font-style: italic;
                font-weight: 400;
                line-height: 27.179px;
            }
        }
    }
}
.sign_in{
    background: #F8F8F8;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    .sign_in_wrapper{
        display: flex;
        .sign_in_left{
            width: 50%;
            img{
                height: 100%;
                position: absolute;
                object-fit: cover;
                left: 0;
                width: 50%;
            }
            .sign_in_red_block{
                width: 37px;
                position: absolute;
                right: 50%;
                height: 100%;
                background-color: #B32B37;
            }
        }
        .sign_in_main{
            padding: 10px;
            width: 50%;
            h2{
                margin: 97px auto;
                color: #123044;
                text-align: center;
                font-family: 'Fira Sans',sans-serif;
                font-size: 42px;
                font-style: normal;
                font-weight: 600;
                line-height: 111.5%; 
            }
            form{
                max-width: 350px;
                margin: 0 auto 85px auto;
                .form_input_in{
                    overflow: hidden;
                    width: 331px;
                    margin-bottom: 44px;
                    border-radius: 6px;
                    border: 0.5px solid #E1E1E1;
                    background: #FFF;
                    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.09);
                    display: flex;
                    align-items: center;
                    input{
                        width: 100%;
                        padding: 15px 5px 15px 20px;
                        border: none;
                        color: #1A1717;
                        font-family: Montserrat,sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.35px;
                    }
                    img{
                        margin-left: auto;
                        padding-right: 10px;
                    }
                }
                .form_btn{
                    display: block;
                    border: none;
                    width: 257px;
                    height: 44px;
                    margin: 9px auto 53px auto;
                    color: #FFF;
                    font-family: 'Fira Sans',sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 111.5%;
                    letter-spacing: 0.96px;
                    border-radius: 11px;
                    background: #123044;
                    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.09);
                }
                span{
                    display: block;
                    margin-bottom: 97px;
                    color: #767676;
                    font-family: Montserrat,sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.35px;
                    img{
                        margin-right: 13px;
                    }
                }
                .form_bottom_link{
                    color: #102B3C;
                    font-family: 'Montserrat',sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28.813px;
                    text-decoration-line: underline !important;
                }
            }
        }
    }
}
footer{
    background: linear-gradient(180deg, #E2D5CF 0%, #DABD96 100%);
    .footer_wrapper{
        flex-wrap: wrap;
        padding: 80px 0;
        display: flex;
        justify-content: space-between;
        .footer_logo{
            transform: translateY(-30px);
        }
        ul{
            li{
                margin-bottom: 30px;
                a{
                    color: #1A1717;
                    font-family: Montserrat,sans-serif;
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.63px;
                    text-transform: uppercase; 
                }
            }
            .footer_menu{
                color: #202325;
                font-family: 'Fira Sans',sans-serif;
                font-size: 36px;
                font-style: normal;
                font-weight: 500;
                line-height: 111.5%;
            }
        }
        .footer_social{
            .footer_text{
                max-width: 466px;
                color: #414345;
                font-family: 'Fira Sans',sans-serif;
                font-size: 26px;
                font-style: italic;
                font-weight: 500;
                line-height: 38.679px;
                margin-bottom: 20px;
            }
            .footer_social_in{
                a{
                    margin-right: 23px;
                }
            }
            form{
                .form_in{
                    margin-bottom: 60px;
                    display: flex;
                    align-items: center;
                    border-radius: 44px;
                    background: #FFF;
                    overflow: hidden;
                    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.09);
                    input{
                        width: 70%;
                        border: none;
                        padding: 24px;
                        color: #B6B3B3;
                        font-family: Montserrat,sans-serif;
                        font-size: 21px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 111.5%;
                    }
                    button{
                        width: 30%;
                        height: 100%;
                        color: #FFF;
                        font-family: 'Fira Sans',sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 111.5%;
                        letter-spacing: 1.08px;
                        border-radius: 0px 99px 99px 0px;
                        background: #B32B37;
                        box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.09);
                        padding: 27px;
                        border: none;
                        cursor: pointer;
                    }
                }
            }
            .footer_social_in{
                display: flex;
                .footer_social_email{
                    display: flex;
                    flex-direction: column;
                    p{
                        color: #404243;
                        font-family: 'Fira Sans',sans-serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 28.813px;
                    }
                    a{
                        color: #123044;
                        font-family: Montserrat,sans-serif;
                        font-size: 16px;
                        font-style: italic;
                        font-weight: 600;
                        line-height: 26.263px;
                        letter-spacing: 0.5px;
                        text-decoration-line: underline;
                    }
                }
            }
        }
    }
    .footer_bottom{
        padding-bottom: 80px;
        p{
            color: #6A6B6B;
            font-family: Montserrat,sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 28.813px;
        }
    }
    .footer_wrapper_media{
        display: none;
        padding-top: 14px;
        .footer_top_media{
            display: flex;
            align-items: center;
            justify-content: space-between;
            a{
                margin-right: 19px;
                img{
                    width: 76px;
                    height: 104px;
                }
            }
            .footer_email{
                p{
                    color: #414345;
                    font-family: 'Fira Sans',sans-serif;
                    font-size: 13px;
                    font-style: italic;
                    font-weight: 500;
                    line-height: 21.556px;
                    margin-bottom: 21px;
                }
                .email_wrapper{
                    width: 100%;
                    border-radius: 21.914px;
                    background: #FFF;
                    display: flex;
                    overflow: hidden;
                    box-shadow: 0px 0.4980568289756775px 3.4863977432250977px 0px rgba(0, 0, 0, 0.09);
                    input{
                        border: none;
                        width: 60%;
                        padding: 12px 9px;
                        color: #B6B3B3;
                        font-family: Montserrat,sans-serif;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 111.5%;
                    }
                    button{
                        cursor: pointer;
                        width: 40%;
                        border: none;
                        color: #FFF;
                        font-family: 'Fira Sans',sans-serif;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 111.5%;
                        letter-spacing: 0.72px;
                        border-radius: 0px 49.308px 49.308px 0px;
                        background: #B32B37;
                        box-shadow: 0px 0.4980568289756775px 3.4863977432250977px 0px rgba(0, 0, 0, 0.09);
                    }
                }
            }
        }
        .footer_center_media{
            margin-top: 38px;
            margin-bottom: 25px;
            display: flex;
            justify-content: space-between;
            ul{
                li{
                    margin-bottom: 15px;
                    a{
                        color: #1A1717;
                        font-family: Montserrat,sans-serif;
                        font-size: 11px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 0.33px;
                        text-transform: uppercase;
                    }
                }
                .footer_menu_media{
                    color: #202325;
                    font-family: 'Fira Sans',sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 111.5%;
                }
            }
        }
        .footer_bottom_media{
            .social_media_footer{
                display: flex;
                align-items: center;
                justify-content: center;
                a{
                    margin: 0 11px;
                    img{
                        width: 28px;
                        height: 28px;
                    }
                }
            }
            .footer_social_email_media{
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-top: 30px;
                margin-bottom: 40px;
                .footer_media_text{
                    margin-bottom: 8px;
                    color: #404243;
                    text-align: center;
                    font-family: 'Fira Sans',sans-serif;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 16.057px;
                }
                a{
                    display: inline-block;
                    color: #123044;
                    text-align: center;
                    font-family: Montserrat,sans-serif;
                    font-size: 13px;
                    font-style: italic;
                    font-weight: 600;
                    line-height: 14.636px;
                    letter-spacing: 0.279px;
                    text-decoration-line: underline;
                }
            }
        }
        .footer_media_bottom_in{
            padding-bottom: 32px;
            text-align: center;
            color: #6A6B6B;
            font-family: Montserrat,sans-serif;
            font-size: 11px;
            font-style: normal;
            font-weight: 500;
            line-height: 16.057px;
        }
    }
}


@import './responsive';